
/*Jumbotron/About Me*/
#alanPortrait {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.jumboFlex {
    display: -webkit-flex;
    flex-direction: row;
}

.name-work {
    margin-left: 1rem;
    margin-top: 3rem;
}

.aboutMe {
    text-align: left;
    max-width: 1080px;
    margin: 0 auto;
}

/*Skills Languages*/

.skillImages {
    height: 200px;
    display: block;
    margin: 0 auto;
}

#skillsHead {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/*Contact Form*/

#contactHead {
    text-align: center;
}

form {
    max-width: 50rem;
}